<%= link_to "See attractions", attractions_path %>
<p id="notice"><%= notice %></p>

<%= @user.name %><br>
Mood:<%= @user.mood %><br>
Tickets: <%= @user.tickets %><br>
Height: <%= @user.height %>
<% if @user.admin == true %>
  <%= "ADMIN" %>
<% end %>
